body {
    padding-bottom: 30px;
    background-color: #f3f3f3;
}
/* Sticky footer styles */
html, body { height: 100%; }
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
#push, #footer {
    height: 60px;
}
#footer {
    margin-bottom: 20px;
}
p { line-height: 25px; word-wrap: break-word; }

.float-element {
    background-color: #ffffff;
    padding: 30px;
    margin: 5px 0 20px 0;
}
.blue { color: #337ab7; }
.status-message {
    font-size: 17px;
    margin-bottom: 50px;
}

